.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  width: 100%;

  background-color: var(--bg-light);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 235, 167, 0.1);
  color: var(--text-main);
  border-radius: 6px;
}
