.link {
  margin-left: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #c4c3ca;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.link:hover,
.link:focus {
  background-color: rgba(255, 235, 167, 0.1);
  color: #ffeba7;
}
